@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@315&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@315&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap');

body {
    background-color: #c0bec2;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.text-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.text-cont>h2 {
    color: #283f4d;
    font-size: 2.5rem;
    margin: 15px 0;
    font-family: 'Cascadia';
}

.text-cont ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 15px 0;
    gap: 10px;
}

.text-cont ul li {
    list-style: none;  
}

.text-cont ul li a {
    text-decoration: none;
    color: #4b5b64;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.text-cont ul li a:hover {
    color: #242329;
}

.text-cont button {
    background-color: #808992;
    color: #26292C;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.5s ease;
    margin: 15px 0;
    outline: none;
    border: none;
    box-shadow: 3px 5px 10px #535355;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
}

.text-cont button:hover {
    background-color: #424a53;
    color:#808992;
}

.cards-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
}



.card {
    width: 100%;
    max-width: 400px;
    margin: 0;
    padding: 30px 0 0 0;
    border-radius: 25px;
    background: #6F6E75;
    text-align: center;
    box-shadow: 10px rgba(15, 15, 163, 0.5);
}

.card>.imag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 1px;
}

.card-imag img {
    max-width: 100%;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 10px 100px #7c7171;
}

.texty>h3{
    color: #cc7272;
    margin: 20px;
    font-size: 30px;
}

.texty>h3>span{
    text-decoration: line-through #434242 2px;
    color: #cfcfcf;
    font-size: 20px;
}

.texty>p.nam{
    font-size: 40px;
    margin: 50px 100px 20px 100px;
}

.texty>p {
    font-size: 20px;
    color: #dbd1d1;
}

.texty>p>span {
    text-decoration: underline;
    cursor: pointer;
}


.card2 {
    width: 100%;
    max-width: 400px;
    margin: 0;
    padding: 30px 0 0 0;
    border-radius: 25px;
    background: #6F6E75;
    text-align: center;
    box-shadow: 0 10px 30px rgba(152, 152, 155, 0.5);
    position: relative;
}

.card2>.imag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 1px;
}

.card-imag2 img {
    max-width: 100%;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 10px 100px #7c7171;
}

.textyc>h3{
    color: #ddd2d2;
    margin: 20px;
    font-size: 30px;
}

.textyc>h3>span{
    text-decoration: line-through #434242 2px;
    color: #cfcfcf;
    font-size: 20px;
}

.textyc>p.nam{
    font-size: 30px;
    margin: 50px 10px 20px 10px;
}

.textyc>p {
    font-size: 20px;
    color: #dbd1d1;
}

.textyc>p>span {
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (min-width: 600px) {
    .text-cont {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    
    .text-cont>h2 {
        font-size: 3rem;
        margin: 25px 0 0 25px;
    }
    
    .text-cont ul {
        margin: 0;
    }
    
    .text-cont ul li a {
        margin: 0 20px 0 0;
        font-size: 1.2rem;
    }
    
    .text-cont button {
        margin: 25px 0 0 25px;
        width: auto;
    }
}

@media (min-width: 1024px) {
    .text-cont {
        padding: 25px 50px;
    }
    
    .text-cont>h2 {
        font-size: 3.75rem;
    }
}

@media (min-width: 769px) {
    .card2 {
        right: 100px;
        margin-right: -100px;
    }
    
    .cards-container {
        gap: 40px;
    }
}

/* Мобильная версия */
@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }
    
    .card, .card2 {
        max-width: 95%;
        padding: 20px 0 0 0;
    }
    
    .card-imag img, 
    .card-imag2 img {
        max-width: 90%;
    }
    
    .texty>p.nam,
    .textyc>p.nam {
        margin: 30px 20px 15px 20px;
        font-size: 30px;
    }
}
